@use "./variables" as *;

.btn-primary {
  background-color: $primary-color;
  color: $text-color;
  border-color: $primary-color;

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $secondary-color;
    border-color: $primary-color;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease-in-out;
  }
}
