@use "./variables" as *;
@use "./buttons" as *;
@use "./partials/header";
@use "./partials/header2";
@use "./partials/body";
@use "./partials/footer";
@use "./partials/home";
@use "./partials/cv";
@use "./partials/contatti";

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  height: 100%;
}
