@use "../variables" as *;
body {
  background-color: $third-color;
  color: $text-color;
  height: 100%;
}

.lines {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;

  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $text-color 75%, $text-color 100%);
      -webkit-animation: drop 7s 0s infinite;
      animation: drop 7s 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    &:nth-child(1) {
      margin-left: -25%;

      &::after {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
      }
    }

    &:nth-child(3) {
      margin-left: 25%;

      &::after {
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;
      }
    }
  }
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.navbar {
  .container-fluid {
    padding: 0px 100px;

    @media (max-width: 768px) {
      padding: 0px 20px;
    }
  }
}

.sidebar-right {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 60px;
  z-index: 1030;
  background-color: $primary-color;

  .sidebar-logo {
    width: 40px;
    height: 40px;
    margin: 10px auto;
    object-fit: contain;
    display: block;
    filter: brightness(0) saturate(100%) invert(69%) sepia(98%) saturate(1325%) hue-rotate(1deg) brightness(104%) contrast(104%);
  }
}
