.contact-page {
  .content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .site-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    flex-shrink: 0;
  }
}
