@use "../variables" as *;
.custom-navbar {
  background-color: $primary-color;
  color: $text-color;

  .navbar-brand {
    color: $text-color;
    font-weight: bold;
    &:hover {
      color: $secondary-color;
    }
  }

  .nav-link {
    color: $text-color;

    &:hover {
      color: $secondary-color;
      font-weight: bold;
    }
  }

  .navbar-toggler {
    border-color: $secondary-color;
  }
}
