@use "../variables" as *;

.intro-text {
  font-weight: bold;
  font-size: 50px;
  color: $text-color;
  position: relative;
  z-index: 1000;
}

.highlight,
.line-name {
  font-size: 31px;
}
.name-vertical {
  position: relative;
  z-index: 10;
}

.name-vertical .line-name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: $text-color;
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  cursor: none;
}

.name-vertical .line-name:hover {
  color: $secondary-color;
  font-weight: bold;
  gap: 0;
}

.name-vertical .line-name:hover .highlight {
  color: $secondary-color;
}

.highlight {
  color: $primary-color;
  transition: color 0.3s ease;
  font-weight: bold;
}

.content-wrapper {
  padding: 0px 100px;
  width: 100%;
  position: relative;
  z-index: 10;

  @media (max-width: 768px) {
    padding: 100px 20px 0px 20px;
  }
}

#bio,
#skills {
  .titolo-sezione {
    align-items: center;
    padding-bottom: 25px;

    h1 {
      font-size: 20px;
      line-height: 1;
      margin-right: 15px;
      color: $secondary-color;
      font-weight: bold;
    }

    .linea-bianca {
      width: 195px;
      height: 2px;
      background-color: $text-color;
      transform: translateY(-1px);
    }
  }

  .about {
    display: flex;
    font-size: 20px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

.fade-in:nth-child(1) {
  animation-delay: 0.4s;
}
.fade-in:nth-child(2) {
  animation-delay: 0.8s;
}
.fade-in:nth-child(3) {
  animation-delay: 1.2s;
}
.fade-in:nth-child(4) {
  animation-delay: 1.6s;
}
.fade-in:nth-child(5) {
  animation-delay: 2s;
}
.fade-in:nth-child(6) {
  animation-delay: 2.4s;
}

.logo-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  img {
    max-height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }

  .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: $secondary-color;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 6px;
    font-size: 0.85rem;
    text-align: center;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }

    .description {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.skills-row {
  row-gap: 100px;
}
.btn {
  z-index: 1;
}
#progetti {
  .titolo-sezione {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    h1 {
      font-size: 20px;
      margin-right: 15px;
      color: $secondary-color;
      font-weight: bold;
    }

    .linea-bianca {
      width: 190px;
      height: 2px;
      background-color: $text-color;
      transform: translateY(-1px);
    }
  }

  .carousel-wrapper {
    display: flex;
    justify-content: center;
  }

  .carousel {
    width: 80%;
    max-width: 900px;

    @media (max-width: 768px) {
      width: 90%;
    }

    .carousel-inner img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 20px;
    }
  }
}
